{% extends 'CowboyDuelAdminBundle::layout.html.twig' %}

{% block title %}Login admin{% endblock %}

{% block content %}      
<div id="wrapper" class="login">	
	<div class="box">
		<div class="title">
			Авторизуйтесь
			<span class="hide"></span>
		</div>
		<div class="content">
			{% if error %}
				<div class="message inner blue">
					<span><b>Information</b>:{{ error.message }}</span>
				</div>        
    		{% endif %}		
			<form action="{{ path('admin_auth_check') }}">
				<div class="row">
					<label>Електронна пошта</label>
					<div class="right"><input type="email" value="{{ last_username }}" /></div>
				</div>
				<div class="row">
					<label>Пароль</label>
					<div class="right"><input type="password" value="" /></div>
				</div>
				<div class="row">
					<div class="right">
						<button type="submit"><span>Відправити</span></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}