{% extends 'CowboyDuelApiBundle::layout.html.twig' %}

{% block title %}Login admin{% endblock %}

{% block content %}        

<h2>Login admin</h2>
<form id="loginForm" action="{{ path('admin_auth_check') }}" method="post">
    <h2 class="fontTitleCenter">Авторизация</h2>
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    <div class="field">
    	<label for="username">Електронна пошта:</label>
   	    <input type="email" id="username" name="_username" value="{{ last_username }}" /><br>
	</div>
	<div class="field">
   		<label for="password">Пароль:</label>
   		<input type="password" id="password" name="_password" /><br>
    </div>
    <br>
	<div class="submit">
    	<button type="submit" class="submit1">Відправити</button>
    </div>
</form>

{% endblock %}