{% extends 'CowboyDuelAdminBundle::layout.html.twig' %}

{% block title %}Login admin{% endblock %}

{% block body %}      
<div id="wrapper" class="login">	
	<div class="box">
		<div class="title">
			Авторизуйтесь
			<span class="hide"></span>
		</div>
		<div class="content">
			{% if error %}
				<div class="message inner red">
					<span><b>Error</b>: {{ error.message }}</span>
				</div>        
    		{% endif %}		
			<form action="{{ path('admin_auth_check') }}" method="post">
				<div class="row">
					<label for="username">Електронна пошта</label>
					<div class="right"><input type="email" id="username" name="_username" value="{{ last_username }}" /></div>
				</div>
				<div class="row">
					<label  for="password">Пароль</label>
					<div class="right"><input type="password" id="password" name="_password" value="" /></div>
				</div>
				<div class="row">
					<div class="right">
						<button type="submit"><span>Відправити</span></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}