<h2>Authorization</h2>

<form method="post" action="{{ path('api_authorization') }}">
    authentification:
    <input type="text" name="id" value="F:9030943201" />
    <p>
        <button type="submit">Submit</button>
    </p>
</form>