<form action="{{ path('api_duels') }}" method="post">

     <br>
   duels:
    <input type="text" name="duels" value="duels" />
    <br />

      <br>
   app_ver:
    <input type="text" name="app_ver" value="0.0.1" />
    <br />


    <br />
    device_name:
    <input type="text" name="device_name" value="iphone" />
    <br />
     <br>
   authentification:
    <input type="text" name="authentification" value="F:9030943201" />
    <br />
  <br>
   session_id:
    <input type="text" name="session_id" value="" />
    <br />

<br>
   system_name:
    <input type="text" name="system_name" value="" />
    <br />
<br>
   system_version:
    <input type="text" name="system_version" value="" />
    <br />
    <br>
   unique_identifier:
    <input type="text" name="unique_identifier" value="" />
    <br />
 




    <input type="submit" value="Search" />
</form>

