{% extends 'CowboyDuelApiBundle::layout.html.twig' %}
{% block title %}Duels{% endblock %}


{% block content %}
<h1>Duels</h1>

<form action="{{ path('api_duels') }}" method="post">
	 <div>
		<label for="duels" class="required">Duels</label>
		<input type="text" id="duels" name="duels" required="required" maxlength="50"/>
	</div>
	<div>
		<label for="authentification" class="required">Authentification</label>
		<input type="text" id="authentification" name="authentification" required="required" maxlength="50"/>
	</div>
	<div>
		<label for="session_id" class="required">Session_id</label>
		<input type="text" id="session_id" name="session_id" required="required" maxlength="50"/>
	</div>
	{{ form_widget(form) }}
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
{% endblock %}