<h2>get user data</h2>

<form method="post" action="{{ path('user_get_data') }}">
    authentification:
    <input type="text" name="authentification" value="F:100004072748849" />
    <p>
        <button type="submit">Submit</button>
    </p>
</form>