{% extends 'CowboyDuelApiBundle::layout.html.twig' %}
{% block title %}Registration{% endblock %}


{% block content %}
<h1>Registration</h1>

<form action="{{ path('api_registration') }}" method="post">
     <div>
		<label for="authentification" class="required">Authentification</label>
		<input type="text" id="authentification" name="authentification" required="required" maxlength="50"/>
	</div>
    <div>
		<label for="authenOld" class="required">AuthenOld</label>
		<input type="text" id="authenOld" name="[authenOld]" required="required" maxlength="50"/>
	</div>
	<div>
		<label for="authKey" class="required">AuthKey</label>
		<input type="text" id="authKey" name="[authKey]" required="required" maxlength="50"/>
	</div>
	{{ form_widget(form) }}
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
{% endblock %}
