<h2>store Bought</h2>

<form method="post" action="{{ path('store_bought') }}">
    authentification:
    <input type="text" name="authentification" value="F:100004072748849"/><br>
    item id:
    <input type="text" name="itemId" value="1"/><br>
    transactions id:
    <input type="text" name=" transactionsId" value="3201"/><br>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>