<h2>Authorization</h2>

<form method="post" action="{{ path('store_bought') }}">
    authentification:
    <input type="text" name="authentification" value="F:100004072748849" />
    item id:
    <input type="text" name="item_id" value="1" />
    <p>
        <button type="submit">Submit</button>
    </p>
</form>