<h2>Authorization</h2>

<form method="post" action="{{ path('users_top_rank_on_interspace') }}">
    authentification
    <input type="text" name="authentification" value="F:100004072748849" />
    <p>
        <button type="submit">Submit</button>
    </p>
</form>