<h2>Transactions</h2>

<form method="post" action="{{ path('api_transactions') }}">
     <br>
   authentification:
    <input type="text" name="authentification" value="F:9030943201" />
    <br />

 <br>
  session_id:
    <input type="text" name="session_id" value="" />
    <br />
     <br>
  transactions:
    <input type="text" name="transactions" value="F:9030943201" />
    <br />
    <input type="submit" value="Search" />
</form>